@use '../../scss/variables' as *;

.match-card {
    min-height: 120px;
    padding: 12px 20px;
    border: #e5e5e5 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
        background-color: darken(white, 3%);
        cursor: pointer;
    }
}