@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.group-header-container {
  max-height: 490px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  .pending-invite {
    background-color: #cfe2ff;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #052c65;
    border: 1px solid #9ec5fe;
    .btns {
      display: flex;
      gap: 10px;
      .btn {
        @include button_sm();
        width: fit-content;
        margin: 0;
        background-color: darken(#cfe2ff, 3%);
        border-radius: 4px;
        padding: 5px 10px;
        color: #052c65;
        font-size: 14px;
        border: 1px solid darken(#9ec5fe, 5%);
        &:hover {
          background-color: lighten(#cfe2ff, 3%);
        }
      }
    }
  }
  .header-img {
    height: 192px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .avatar {
      width: 96px;
      height: 96px;
      position: absolute;
      bottom: -45px;
      border-radius: 50%;
      outline: 4px solid white;
      background-color: white;
    }
  }
  .group-page-info {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    padding-top: 3rem;
    .name {
      font-size: 22px;
      font-weight: 600;
      color: rgb(8, 5, 27);
      display: flex;
      align-items: center;
      gap: 3px;
      position: relative;
    }
    .description {
      color: $darkgray;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: 400;
      text-align: center;
      padding: 0 20px;
    }
    .stats {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $darkgray;
      font-size: 14px;
      font-weight: 600;
      .privacy {
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
  }
  .action-btns {
    width: 100%;
    // height: 80px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 1rem;
    .small-btn {
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      border: 2px solid #ededef;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        border-color: darken(#ededef, 10%);
        cursor: pointer;
      }
    }
    .large-btn {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border: 2px solid #ededef;
      border-radius: 22px;
      background-color: white;
      height: 44px;
      width: 134px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        border-color: darken(#ededef, 10%);
        cursor: pointer;
      }
    }
    .dropdown-menu {
      position: relative;
      .group-menu {
        background-color: white;
        position: absolute;
        width: 200px;
        height: 100px;
        bottom: -90px;
        z-index: 9999;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 6px;
        ul {
          width: 100%;
          li {
            padding: 10px 15px;
            text-align: left;
            font-size: 15px;
            font-weight: 500;
            &:hover {
              background-color: darken(white, 3%);
            }
          }
        }
      }
    }
  }
}
