@use "../../scss/variables" as *;

.bet-amount {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  .wager-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    label {
      font-weight: 500;
      font-size: 14px;
      color: rgb(54, 54, 54);
    }
    input {
      padding: 8px 5px;
      height: 34px;
      border-radius: 4px;
      border: 1px solid $lightBorderColor;
      padding-left: 10px;
      color: rgb(54, 54, 54);
      display: flex;
      align-items: center;
      &:focus {
        border: none;
        border: 1px solid $accent;
      }
    }
  }
  .payout-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    .payout {
      padding: 8px 5px;
      height: 34px;
      border-radius: 4px;
      border: 1px solid $lightBorderColor;
      padding-left: 10px;
      color: rgb(54, 54, 54);
      display: flex;
      align-items: center;
      

    }
    label {
        font-weight: 500;
        font-size: 14px;
        color: rgb(54, 54, 54);
    }
  }
}
