@use "../../../scss/variables" as *;

.customize-profile-modal {
    padding-top: 5px;
    .disclaimer {
        color: gray;
    }

    .profile-info {
        padding: 20px 0;
        textarea {
            border: 2px solid rgb(236, 236, 236);
            border-radius: .375rem;
            width: 100%;
            padding: .675rem;
            min-height: 100px;
        }
        button {
            background-color: #6947ff;
            border: none;
            padding: 0.8rem 1.5rem;
            border-radius: 22px;
            font-size: 16px;
            color: white;
            width: 100%;
            margin-top: 15px;
            &:hover {
              cursor: pointer;
              background-color: lighten(#6947ff, 3%);
            }
        }
        .skip-step {
            color: $accent;
            text-align: center;
            padding: 30px 0;
            padding-bottom: 0;
            cursor: pointer;
            font-weight: 500;
        }
    }
}