@use "../../scss/breakpoints" as *;
@use "../../scss/variables" as *;
@use '../../scss/mixins' as *;

.sidebar-container {
  padding-right: 2rem;
  width: 286px;

  .sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: 15px;
  }

  .left-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .title {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 20px;
      cursor: pointer;
    }
    .sidebar-links {
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 1rem;
      .menu-item {
        color: black;
        padding: 13px 20px;
        border-radius: 22px;
        text-decoration: none;
        text-decoration: none;
        color: black;
        height: 100%;
        width: 100%;
        font-size: 15px;
        font-weight: 500;
        color: #888595;
        display: flex;
        align-items: center;
        gap: 5px;
        &:hover {
          background-color: darken(white, 3%);
          cursor: pointer;
          color: black;
          svg {
            path {
              // stroke: black;
              // fill: black;
            }
          }
        }
      }
    }
    .post-btn {
      @include button_lg();
    }
  }

  .right-sidebar {
    @include breakpoint(lg) {
      // background-color: orange;
    }
    @include breakpoint(md) {
      display: none;
    }

    .new-to-huddle-sign-up {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .bold {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
      .description {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: rgb(101 97 117);
      }
      .sign-up-btn {
        background-color: #6947ff;
        border: none;
        padding: 0.8rem 1.5rem;
        border-radius: 22px;
        font-size: 14px;
        color: white;
        width: 100%;
        margin-top: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.right-sidebar-container {
  padding-left: 2rem;
  padding-right: 0rem;
  
  @include breakpoint(md) {
    display: none;
  }
}
