@use "../../scss/variables" as *;

.post,
.quote-repost {
  width: 100%;
  padding: 16px 16px 16px;
  min-height: 140px;
  border-bottom: 1px solid $lightBorderColor;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: darken(white, 1%);
    cursor: pointer;

  }
  .reposter {
    font-size: 12px;
    color: $lightgray;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    span {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .post-header {
    display: flex;
    align-items: center;
    position: relative;
    .menu {
      position: absolute;
      right: 0;
      top: 0;
      p {
        width: fit-content;
        margin-left: auto;
        cursor: pointer;
        &:hover {
          svg {
            circle {
              stroke: $darkgray;
            }
          }
        }
      }
    }
    .avatar {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      display: flex;
      align-items: center;
      position: relative;
      transition: all 200ms ease-in-out;
      &:hover {
        img {
          filter: brightness(95%);
        }
      }
      img {
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .user,
    .qr_user {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;
      padding-left: 5px;
      .name {
        font-size: 14px;
        font-weight: 600;
        color: rgb(8, 5, 27);
        display: flex;
        align-items: center;
        gap: 3px;
        position: relative;
        svg {
          width: 18px;
          position: relative;
          top: 1px;
          left: -2px;
          height: 20px;
        }
      }
      .username {
        color: $darkgray;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 400;
        .date {
          font-size: 12px;
          color: $darkgray;
          display: flex;
          align-items: center;
          position: relative;
          top: 1px;
        }
      }
    }
    .qr_user {
      display: flex;
      flex-direction: row;
      gap: 5px;
      position: relative;
      left: -13px;
      bottom: 4px;
      .username {
        font-size: 14px;
      }
    }
  }
  .body {
    padding: 14px 0;
    font-size: 14px;
    color: rgb(8, 5, 27);
    word-wrap: break-word;
    white-space: pre-wrap;
  }

    .post-image {
      width: 100%;
      // height: 350px;
      border-radius: 12px;
      margin-bottom: 5px;
      object-position: center;
      object-fit: cover;
    }
  
  

  .bet,
  .wagered-bet {

    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    margin-bottom: 15px;

    .pick,
    .winning-pick,
    .losing-pick {
      border: 1px solid rgb(240, 240, 240);
      padding: 10px;
      border-radius: 8px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .description {
        font-weight: 500;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 3px;
      }
      .matchup {
        color: gray;
        font-weight: 500;
        display: flex;
        gap: 5px;
        .team {
          display: flex;
          align-items: center;
          gap: 3px;
          img {
            max-width: 14px;
          }
        }
      }
      .price {
        font-weight: 600;
        position: absolute;
        right: 10px;
        top: 10px;
        color: $accent;
      }
    }

    .winning-pick {
      border: 1px solid #70d470;
    }

    .losing-pick {
      border: 1px solid rgb(240, 112, 112);
    }

    .payout {
      padding: 0 5px;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
    }

  }

  .wagered-bet {
    border: 1px solid rgb(240, 240, 240);
    padding: 10px;
  }

  .post-footer {
    display: flex;
    align-items: center;
    gap: 20px;
    svg {
      cursor: pointer;
    }
    .icon {
      display: flex;
      align-items: center;
      font-size: 13px;
      gap: 4px;
      cursor: pointer;
    }
    .icon-container {
      position: relative;
    }
    .repost-icon,
    .like-icon,
    .comment-icon {
      position: relative;
      &:hover {
        svg,
        span {
          z-index: 9999;
        }
        &::after {
          position: absolute;
          content: "";
          border-radius: 50%;
          width: 35px;
          height: 35px;
          opacity: 0.3;
          left: -9px;
        }
      }
    }

    .repost-icon {
      &:hover {
        svg {
          path {
            fill: #2ecc71;
          }
        }
        span {
          color: #2ecc71 !important;
        }
      }
      &::after {
        background-color: lighten(#2ecc71, 40%);
      }
      
    }
    .like-icon {
      &:hover {
        svg {
          path {
            stroke: #fc5185;
          }
        }
        &::after {
          background-color: lighten(#fc5185, 26%);
        }
        span {
          color: #fc5185 !important;
        }
      }
    }
    .comment-icon {
      &:hover {
        svg {
          path {
            stroke: $accent;
          }
        }
        &::after {
          background-color: lighten($accent, 26%);
        }
        span {
          color: $accent !important;
        }
      }
    }
  }

  
}

.quote-repost {
  .original-post,
  .muted-original-post {
    border: 1px solid rgb(240, 240, 240);
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin-bottom: 14px;
    transition: all 200ms ease-in-out;
    &:hover {
      background-color: darken(white, 4%);
      cursor: pointer;
    }
    .avatar {
      img {
        max-width: 25px;
        max-height: 25px;
      }
    }
    .qr_body {
      font-size: 14px;
      color: rgb(8, 5, 27);
      word-wrap: break-word;
      padding: 5px 0;
      padding-bottom: 8px;
    }
  }

  .muted-original-post {
    background-color: darken(white, 3%);
    border: 1px solid darken(white, 15%);

    .muted-post {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      color: darken($darkgray, 10%);
      span {
        font-weight: 500;
        color: darken($darkgray, 10%);
        cursor: pointer;
        &:hover {
          color: darken($darkgray, 20%);
        }
      }
    }
  }
}
