@use './variables' as *;

@mixin button() {
    border: none;
    border-radius: 22px;
    font-size: 14px;
    color: white;
    width: 100%;
    margin: 2rem 0;
    color: #5448ee;
    background-color: #e0e7ff;
    &:hover {
        cursor: pointer;
        background-color: darken(#e0e7ff, 2%);
    }
    &:disabled {
        cursor: default;
        background-color: lighten(#e0e7ff, 2%);
    }
}

@mixin button_sm() {
    @include button();
    // background-color: $buttonPrimaryColor;
    padding: 0.6rem 1rem;
    
}

@mixin button_lg() {
    @include button();
    // background-color: $buttonPrimaryColor;
    padding: 0.9rem 1.5rem;

}