@use './variables' as *;
@use './breakpoints' as *;

@mixin button() {
    border: none;
    border-radius: 22px;
    font-size: 14px;
    color: white;
    width: 100%;
    margin: 2rem 0;
    color: #5448ee;
    background-color: #e0e7ff;
    &:hover {
        cursor: pointer;
        background-color: darken(#e0e7ff, 2%);
    }
    &:disabled {
        cursor: default;
        background-color: lighten(#e0e7ff, 2%);
    }
}

@mixin button_sm() {
    @include button();
    // background-color: $buttonPrimaryColor;
    padding: 0.6rem 1rem;
    
}

@mixin button_lg() {
    @include button();
    // background-color: $buttonPrimaryColor;
    padding: 0.9rem 1.5rem;

}

@include breakpoint(md) {
    .layout {
        justify-content: flex-start;
        padding: 0 2rem;

        .main-content {
            flex: 1;
            .feed {
                min-width: 100%;
            }
            .feed-selector {
                width: 100%;
            }
            .create-post-container {
                width: 100%;
            }
        }
    }
}

@include breakpoint(sm) {
    .layout {
        justify-content: flex-start;
        padding: 0;
        flex-direction: column;
        .sidebar-container {
            display: none;
        }

        .main-content {
            max-width: 100vw;
            .feed {
                max-width: 100%;
            }
            .feed-selector {
                max-width: 100%;
            }
            .create-post-container {
                max-width: 100%;
            }
            .modal {
                min-height: 100vh;
                border-radius: 0;
            }
        }
    }
}