$mainContentWidth: 590px;
$sidebarWidth: 240px;
$lightgray: rgb(134, 131, 147);
$danger: rgb(254, 226, 226);
$dangerText: #dc2626;
$accent: #5448ee;
$borderColor: rgb(237 237 239);
$darkgray: rgb(101, 97, 117);
$lightBorderColor: rgb(239, 239, 240);
$lightgreen: #2ECC71;