$mainContentWidth: 590px;
$sidebarWidth: 240px;
$lightgray: #868393;
$danger: #fee2e2;
$dangerText: #dc2626;
$accent: #5448ee;
$borderColor: #ededef;
$darkgray: #656175;
$lightBorderColor: #efeff0;
$lightgreen: #2ECC71;
$buttonPrimaryColor: #ff4775;
