@use './variables' as *;

.layout {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    position: relative;
    
    .main-content {
        width: $mainContentWidth;
        border-right: 1px solid $borderColor;
        border-left: 1px solid $borderColor;
        background-color: #fff;
    }
}
