@use '../../scss/mixins' as *;

.delete-post {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    .title {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
    .message {
        font-size: .9375rem;
        line-height: 1.25rem;
    }
    .action-btn-list {
        display: flex;
        position: relative;
        width: 100%;
        gap: 1rem;
        justify-content: space-between;
        margin-top: 1rem;
        .delete-btn,
        .cancel-btn {
            @include button_lg();
            margin: 0;
            padding-bottom: .5rem;
            padding-top: .5rem;
            font-size: .875rem;
            line-height: 1.25rem;
            width: fit-content;
        }
        .delete-btn {
            color: #E03D3D;
            background-color: #FEE1E1;
            border: 1px solid #e46363;
            &:hover {
                background-color: darken(#FEE1E1, 1%);
            }
        }
        .cancel-btn {
            border: 1px solid gray;
        }
    }
}