@use '../../scss/variables' as *;

.profile-picture-container {
    position: relative;
    width: 35px;
    height: 30px;
    // background-color: lime;
    img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
        z-index: 0;
        cursor: pointer;
        border: 1px solid $lightBorderColor;
    }
    svg {
        position: absolute;
        bottom: 0;
        right: 0;
        
    }

}

