@use '../../scss/variables' as *;

.profile-picture-container {
    position: relative;
    width: 30px;
    height: 30px;
    img {
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
        z-index: 0;
        cursor: pointer;
        border: 1px solid $lightBorderColor;

        
    }

}

