.match-page {
  min-height: 110vh;
  padding-bottom: 6rem;
  .group-description {
    font-size: 18px;
    padding: 15px;
    font-weight: 500;
  }
  .markets {
    display: flex;
    flex-direction: column;
    // gap: 1rem;
    padding: 1rem 0;
  }
  
}
