@use "../scss/variables" as *;

.page {
  min-height: 100vh;
  position: relative;
  height: fit-content;
  .match-box {
    margin: 10px 0;
    cursor: pointer;
  }


  .outcome {
    padding: 10px 15px;
    border: 1px solid lightgray;
  }
  .outcomes {
    margin: 10px 0;
    border: 1px solid $lightBorderColor;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: darken(white, 3%);
    }
  }


  .matches-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 10px;
  }

  .matches-content :nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
  }
}
