@use '../../scss/variables' as *;

.suggested-users {
  border: 1px solid rgb(239, 243, 244);
  padding: 10px;
  border-radius: 12px;
  .title {
    font-weight: 700;
    font-size: 18px;
  }
  .users {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    .user {
      display: flex;
      gap: 5px;
      .img {
        display: flex;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
        }
      }
      .text {
        .name {
          font-weight: 500;
          font-size: 14px;
        }
        .username {
          font-size: 13px;
          color: gray;
        }
      }
      button {
        background-color: #ff4775;
        border: none;
        padding: 0.2rem 0.4rem;
        border-radius: 22px;
        font-size: 12px;
        color: white;
        width: 70px;
        margin-left: auto;
        &:hover {
          cursor: pointer;
          background-color: lighten(#ff4775, 3%);
        }
      }
    }
  }
  .show-more {
    font-size: 14px;
    color: $accent;
    padding-bottom: 5px;
    cursor: pointer;
    width: fit-content;
    &:hover {
        text-decoration: underline;
    }
  }
}
