@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.leaderboard-widget {
    border: 1px solid rgb(239, 243, 244);
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
        font-weight: 700;
        font-size: 18px;
        width: 100%;
        display: flex;
        align-items: center;
      
      }
      .description {
        font-weight: 400;
        font-size: 14px;
        span {
            color: $accent;
            font-weight: 500;
        }
      }

      button {
        @include button_sm();
        background-color: $darkgray;
        &:hover {
            background-color: lighten($darkgray, 5%);
        }
        margin: 0;
        width: fit-content;
        margin-top: 5px;
        font-size: 12px;
      }
}