@use '../../scss/variables' as *;

.feed {
    width: $mainContentWidth;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: fit-content;
    .news-card {
        height: 170px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 15px;
        border-bottom: 1px solid $lightBorderColor;
        gap: 10px;
    
    }
}   