@use "../../scss/variables" as *;

.market-card {
  border-bottom: 1px solid rgb(228, 228, 228);
  &:hover {
    cursor: pointer;
  }

  .market-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .description {
      width: 100%;
      font-weight: 500;
      font-size: 15px;
      display: flex;
      align-items: center;
      height: 100%;
      gap: 5px;
      padding: 1rem;
      svg {
        margin-left: auto;
      }
      .tracked-badge {
        font-size: 12px;
        font-weight: 400;
        background-color: #E1E7FD;
        color: #6F63EB;
        padding: 4px;
        border-radius: 4px;
        margin-left: 10px;
      }
    }
    .market1 {
      display: grid;

      :nth-last-child(1):nth-child(odd) {
        grid-column: span 2;
      }
      .description {
        width: 100%;
      }
    }
    .outcome {
      border-top: 1px solid rgb(239, 243, 244);
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 10px 1rem;
      &:hover {
        background-color: darken(white, 2%);
      }
      .handicap {
        font-weight: 500;
      }
      .price {
        margin-left: auto;
        color: $accent;
        font-weight: 500;
        background-color: darken(white, 7%);
        border-radius: 4px;
        padding: 10px;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
