@use "../../scss/mixins" as *;
@use "../../scss/variables" as *;

.widget {
  border: 1px solid rgb(239, 243, 244);
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  .title {
    font-weight: 700;
    font-size: 18px;
  }
  .description {
    color: #656175;
    font-size: 14px;
    span {
      color: $accent;
      font-weight: 500;
    }
  }
  button {
    @include button_sm();
    margin: 0;
    width: fit-content;
    margin-top: 5px;
    font-size: 12px;
    width: 100%;
    padding: 11px 20px;
    font-size: 14px;
    color: #5448ee;
    background-color: #e0e7ff;
    &:hover {
      background-color: lighten(#e0e7ff, 1%);
    }
  }
  .users {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding-bottom: 5px;
    .user {
      display: flex;
      gap: 5px;
      .img {
        display: flex;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
        }
      }
      .text {
        .name {
          font-weight: 500;
          font-size: 14px;
        }
        .username {
          font-size: 13px;
          color: gray;
        }
      }
      button {
        border: none;
        padding: 0.5rem 0.4rem;
        border-radius: 22px;
        font-size: 12px;
        width: 70px;
        margin-left: auto;
        margin-top: 0;
      }
    }
  }
  .show-more {
    font-size: 14px;
    color: $accent;
    padding-bottom: 5px;
    cursor: pointer;
    width: fit-content;
    &:hover {
      text-decoration: underline;
    }
  }
  .groups {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding-bottom: 5px;
    .group {
      display: flex;
      align-items: center;
      gap: 10px;
      &:hover {
        cursor: pointer;
      }
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
      }
      .text {
          display: flex;
          flex-direction: column;
          gap: 3px;
        .name {
          font-weight: 500;
          font-size: 14px;
        }
        .info {
          display: flex;
          color: gray;
          gap: 5px;
          font-size: 12px;
          position: relative;
          left: -2px;
          .privacy {
            display: flex;
            align-items: center;
            gap: 2px;
          }
        }
      }
    }
  }
}
